<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: #007bff;">@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url('https://img.freepik.com/vector-premium/fondo-tecnologia-circuito-alta-tecnologia-digital_29971-542.jpg');
            background-size: cover;
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            color: #333;
        }

        .navbar {
            background-color: #f8f9fa;
        }

        .navbar-brand {
            font-size: 28px;
            color: #333;
        }

        .navbar-toggle {
            background-color: #333;
        }

        .navbar-nav > li > a {
            font-size: 20px;
            color: #333;
        }

        .container.body-content {
            background-color: rgba(255, 255, 255, 0.9);
            margin-top: 20px;
            padding: 20px;
            border-radius: 10px;
        }

        footer {
            text-align: center;
            margin-top: 20px;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Prueba Acumulativa", "Home", "Países", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Países", "Index", "Countries")</li>
                    <li>@Html.ActionLink("Equipos", "Index", "Teams")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>










